 @import url("buttons.css");
 body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 10px;
	color: #363636;
	background-repeat: repeat-x;
	background-image: url(../images/header_bg.png);
}
#login {
	width: 420px;
	margin: auto;
	border: 5px #f4f4f4 solid;
	margin-bottom: 20px;
	padding: 0;
	background-color: #f4f4f4;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}
#login .ribbon {
	position: absolute;
	width: 111px;
	height: 110px;
}
#login .shadow {
	position: absolute;
	width: 434px;
	margin-top: 5px;
	background-image: url(../images/shadowForm.png);
	height: 33px;
}
#login .inner {
	background-color:#FFF;
	border: 1px #cccccc solid;
	min-height: 230px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#login .logo {
	text-align:center;
	padding:0px 0px 0px 0px;
	top: 5%;
	left: 50%;
}

#login .formLogin {
	width:320px;
	margin:auto;
	position: relative;
	height: 160px;
	padding: 40px 20px 20px 20px;
}
#login #username_id, #login #password {
	font-size: 13px;
	background-repeat:no-repeat;
	padding-left: 35px;
	height: 35px;
	background-position: 2px 3px;
	line-height: 35px;
	color: #666;
	width: 275px;
	margin-bottom: 10px;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
}
#login #username_id:focus, #login #password:focus {
	color:#000;
}
#login #username_id {
	background-image: url(../images/user_.png);
}
#login #password {
	background-image: url(../images/pass_.png);
	font-size: 13px;
}
#login .userbox {
	height: 260px;
	position: absolute;
	width: 418px;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: center 170px;
}
#login .userbox .userload {
	left: 50%;
	margin-left: 0px;
	margin-top: 0px;
}
#login .userbox .userload:hover {
	cursor: pointer;
}
input[type=text], input[type=password], .fileupload {
	background-position: 5px 5px;
	border: solid 1px #dddddd;
	outline: 0;
	line-height: 28px;
	height: 28px;
	padding: 0px 7px 0px 7px;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
